In [1]:
import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Age': [25, np.nan, 30, 22, 35, np.nan],  # Two missing ages
    'Salary': [50000, 60000, 55000, np.nan, 70000, 62000], # One missing salary
    'Purchased': ['Yes', 'No', 'Yes', 'No', 'Yes', 'No'] # The Target Variable
}

df = pd.DataFrame(data)

print("--- Original Messy Data ---")
print(df)

--- Original Messy Data ---
      Name   Age   Salary Purchased
0    Alice  25.0  50000.0       Yes
1      Bob   NaN  60000.0        No
2  Charlie  30.0  55000.0       Yes
3    David  22.0      NaN        No
4      Eve  35.0  70000.0       Yes
5    Frank   NaN  62000.0        No

In [2]:

print(df.isnull().sum())

Name         0
Age          2
Salary       1
Purchased    0
dtype: int64

In [3]:
mean_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(mean_age)

print("--- After Filling Age ---")
print(df)

--- After Filling Age ---
      Name   Age   Salary Purchased
0    Alice  25.0  50000.0       Yes
1      Bob  28.0  60000.0        No
2  Charlie  30.0  55000.0       Yes
3    David  22.0      NaN        No
4      Eve  35.0  70000.0       Yes
5    Frank  28.0  62000.0        No

In [4]:
df = df.dropna(subset=['Salary'])

print("--- Final Cleaned Data ---")
print(df)

--- Final Cleaned Data ---
      Name   Age   Salary Purchased
0    Alice  25.0  50000.0       Yes
1      Bob  28.0  60000.0        No
2  Charlie  30.0  55000.0       Yes
4      Eve  35.0  70000.0       Yes
5    Frank  28.0  62000.0        No

In [5]:
buyers = df[df['Purchased'] == 'Yes']
print(buyers)

      Name   Age   Salary Purchased
0    Alice  25.0  50000.0       Yes
2  Charlie  30.0  55000.0       Yes
4      Eve  35.0  70000.0       Yes